@import "vendor/rizkiandrianto/styles/template";
@import "bootstrap";

$primary-color: #2AB4C2; // blue
$primary-color2: rgba(400,0,0,0.3);
$primary-color3: #05727D; //biru tua
$global-border-color: #ddd;

$text-color1: #fff;

$border-radius: 4px;

$fontAwesome: 'fontAwesome';


$mobile: 500px;
$tablet: 960px;


a, a:hover, a:focus {
	cursor: pointer;
	color: initial;
}

textarea {
	resize: none;
}

#main-wrapper {
	min-height: 100vh;
	position: relative;
}

.navbar {
	border-radius:0;
	position: absolute;
	width: 100%;
	background-color: $primary-color;
	border:none;
	box-shadow:0px 2px 3px rgba(128,128,128, 0.7);

	@media screen and (max-width: $mobile) {
	    position: fixed;
	    z-index: 99;
	}

	&.scrolled {
		position: fixed;
		top: 0;
		z-index: 99;
	}

	.active a {
		background-color: $primary-color3
	}

	li > a, a.navbar-brand, .open > a:hover, .open > a {
		color: $text-color1;
	}

	li > a:hover, li > a:focus, .open > a:hover, .open > a, .open > a:focus {
	    text-decoration: none;
	    background-color: $primary-color3;
	}

	.dropdown-menu {
		min-width: 360px;
		padding: 0;

		.list-group {
			margin-bottom: 5px;

			.list-group-item {
				border-radius: 0;
				border-right: none;
				border-left: none;

				[class^="col-"] {
					padding: 0;
				}

				& > [class^="col-"] {
					padding: 0 5px;
				}
				
				.input-group-addon {
					padding: 0px 5px;
					cursor: pointer;

					&:active {
						background: rgb(183, 183, 183) none repeat scroll 0% 0%;
					}
				}
			}
		}
	}

	.dropdown-menu > li > a {
		color: #999;

		@media screen and (max-width: $mobile) {
		    color: $text-color1
		}
	}

	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus  {
		background-color: #eaeaea;
	}

	.navbar-toggle {
		border: 1px solid #fff;

		.icon-bar {
			border:1px solid #fff;
		}	
	}

}

.product-thumbnail {
	width: 100%;
  	padding-bottom: 95%;
  	background-size: cover;
	background-position: center;
}

.product-thumbnail-big {
	@extend .product-thumbnail;
	max-height: 250px;
}

ul.product-list-ul {
	padding-left: 0;
	padding-right: 0;

	li.product-loop-li {
		list-style: none;
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
		min-height: 295px;
		height: auto;
		margin-bottom: 10px;

		a {
			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}
	}
}

.product-loop {
	border: 1px solid $global-border-color;
}

.product-loop-top {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-bottom: 1px dashed $global-border-color;


    p {
		padding: 5px;
		margin-bottom: 0;
	}

	p.product-name {
		height: 50px;
	}

    .product-thumbnail {
    	border-bottom: 1px solid $global-border-color;
    }
}

.product-loop-bottom {
	padding: 10px 5px;

	.product-btn-add_to_cart {
		text-decoration: none;
		background-color: $primary-color;
		color: $text-color1;
		padding: 7px;
		border-radius: $border-radius;
		cursor: pointer;
	}
}

.slick-next {
	display: block;
	line-height: 185px;
	height: 295px;

    &:before {
    	font-family: $fontAwesome;
	    content: "\f105";
	    color: #505050;
	}
}

.slick-prev {
	@extend .slick-next;

	&:before {
		font-family: $fontAwesome;
		content: "\f104";
	}
}

.product-header {
	height: 45px;
	line-height: 45px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	padding: 0 12px;
	margin-bottom: 10px;

	a {
		float: right;
	}
}

.ember-load-indicator {
	background: $primary-color2;
	width: 100vw;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	p {
		font-size: 16px;
		color: #fff;
	}

	.sk-cube-grid {
	  width: 40px;
	  height: 40px;
	  margin: 10px auto;
	}

	.sk-cube-grid .sk-cube {
	  width: 33%;
	  height: 33%;
	  background-color: #fff;
	  float: left;
	  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
	}
	.sk-cube-grid .sk-cube1 {
	  -webkit-animation-delay: 0.2s;
	          animation-delay: 0.2s; }
	.sk-cube-grid .sk-cube2 {
	  -webkit-animation-delay: 0.3s;
	          animation-delay: 0.3s; }
	.sk-cube-grid .sk-cube3 {
	  -webkit-animation-delay: 0.4s;
	          animation-delay: 0.4s; }
	.sk-cube-grid .sk-cube4 {
	  -webkit-animation-delay: 0.1s;
	          animation-delay: 0.1s; }
	.sk-cube-grid .sk-cube5 {
	  -webkit-animation-delay: 0.2s;
	          animation-delay: 0.2s; }
	.sk-cube-grid .sk-cube6 {
	  -webkit-animation-delay: 0.3s;
	          animation-delay: 0.3s; }
	.sk-cube-grid .sk-cube7 {
	  -webkit-animation-delay: 0s;
	          animation-delay: 0s; }
	.sk-cube-grid .sk-cube8 {
	  -webkit-animation-delay: 0.1s;
	          animation-delay: 0.1s; }
	.sk-cube-grid .sk-cube9 {
	  -webkit-animation-delay: 0.2s;
	          animation-delay: 0.2s; }
	
	@-webkit-keyframes sk-cubeGridScaleDelay {
	  0%, 70%, 100% {
	    -webkit-transform: scale3D(1, 1, 1);
	            transform: scale3D(1, 1, 1);
	  } 35% {
	    -webkit-transform: scale3D(0, 0, 1);
	            transform: scale3D(0, 0, 1); 
	  }
	}

	@keyframes sk-cubeGridScaleDelay {
	  0%, 70%, 100% {
	    -webkit-transform: scale3D(1, 1, 1);
	            transform: scale3D(1, 1, 1);
	  } 35% {
	    -webkit-transform: scale3D(0, 0, 1);
	            transform: scale3D(0, 0, 1);
	  } 
	}
}

.jumbotron {
	margin-bottom: 0;
	padding: 10px 0;
}

footer {
	height: 150px;
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	padding: 20px 0px;
	color: #999;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	a {
		color: #999;
	}
}

#main-container {
	padding-top: 80px;
	min-height: 290px;
	padding-bottom: 170px;
}

.cart-price {
	font-size: 12px;
	font-style: italic;

	p {
		font-size: 12px;
		margin-bottom: 0;
	}

	i {
		font-size: 10px;
	}
}

.nocart {
	padding: 20px;

	span {
		display: block;
	}
}

.list-group {
	margin-bottom: 0px;

	.list-group-item {
		border-radius: 0;
	}
}


.product-detail {
    i.fa {
		min-width: 15px;
		margin-right: 5px;
    }

    & ~ .btn-lg {
    	background-color: $primary-color;
    	border: none;
    }
}