<select class="form-control" name="city" value="city" id="city-select">
	{{#each city as |city|}}
		<option value="{{city.city_id}}" data-province="{{city.province_id}}">{{city.city_name}}</option>
	{{/each}}
</select>

{{yield}}
