<div class="bold product-header">
	<span>Latest Man Fashion</span>
</div>
{{product.product-man}}
<p class="text-right">{{link-to 'More Man Fashion' 'index' class="hidden-md hidden-lg"}}</p>
{{outlet}}
