<div class="bold product-header">
	<span>Latest Woman Fashion</span>
</div>
{{product.product-woman}}
<p class="text-right">{{link-to 'More Woman Fashion' 'index' class="hidden-md hidden-lg"}}</p>
{{outlet}}
