<footer>
	<div class="container">
		<div class="col-md-6">
			<p>Category</p>
			<ul>
			  {{#link-to 'index' tagName="li"}}<a>Women Fashion</a>{{/link-to}}
			  {{#link-to 'index' tagName="li"}}<a>Men Fashion</a>{{/link-to}}
			</ul>
		</div>
		<div class="col-md-6">
			<p>PArt 2</p>
		</div>
	</div>
</footer>